@model Kurs
<h2>Kurs Güncelle</h2>
<form asp-controller="Kurs" asp-action="Edit" method="post">
    <input type="hidden" asp-for="KursId">
    <div class="mb-3">
        <label asp-for="Baslik" class="form-label">Başlık</label>
        <input asp-for="Baslik" class="form-controş">
    </div>
    <button type="submit" class="btn btn-secondary">Kaydet</button>
</form>